@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/static/Montserrat-Bold.ttf') format('truetype');
}

:root {
  --dark: #333030;
  --darker: #232323;
  --primary: #ffff00;
}

body {
  margin: 0;
}
